body {
    background-color: #C0C3C8;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poetsen One', cursive;
}

h1 {
    padding: 0.5rem;
    margin: 25px;
}

.page-header {

    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
    text-align: center;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #5568F1;
    font-size: 100px;
    text-decoration: none;
}

.update_task {
    display: inline-block;
    color: #040F0F;
    border: 1px solid #CCC;
    background: #DDD;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    vertical-align: middle;
    max-width: 500px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.task_settings {
    display: inline-block;
    color: #040F0F;
    cursor: pointer;
    vertical-align: middle;
    max-width: 500px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.done {
    color: #E4E4E4;
}

.date {
    float: right;
    color: #040F0F;
}

.update_task:active {
    color: #78C3FB;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input::placeholder {
    color: #C0C3C8;
}

.submit {
    background-color: #6BA3E8;
}

/* done */
.center-column {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #F8F8F8;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0, 0, 0, 0.75);
}

/* #DBEBC0 */
.item-row {
    background-color: #5568F1;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0, 0, 0, 0.75);
}


.btn-danger {
    background-color: #EE778A;
    border-color: #EE778A;
}