{% extends 'tasks/based.html' %} {% block content%}
<h3>Задания на сегодня</h3>
<form method="POST" action="/">
  {% csrf_token %} {{form.title}}
  <input
    class="btn btn-info"
    type="submit"
    name="Create Task"
    value="Добавить"
  />
</form>

{%for task in tasks%}
<div class="item-row">
  <a class="update_task btn-danger" href="{% url 'delete' task.id %}"
    >Удалить</a
  >
  {% if task.complete == True%}
  <strike
    ><a class="update_task" href="{% url 'update_task' task.id %}"
      ><h3>{{task}}</h3></a
    ></strike
  >
  {% else %}
  <span
    ><a class="update_task" href="{% url 'update_task' task.id %}"
      ><h3>{{task}}</h3></a
    ></span
  >
  {% endif %} {% if task.created %}
  <time class="date"> {{task.created}}</time>
  {% endif %}
</div>

{%endfor%} {%endblock%}
